/* * {
    font-family: Jost, sans-serif;
} */
.bm-centered{
    text-align: center;
}
.bm-text-primary{
    color:#39f;
}

.bm-margin-top{
    margin-top: 50px;
}

.bm-flex{
    display:flex;
}
/* 
.bm-margin-top-20{
    margin-top:20px;
} */